:root{
    --color-fondo: #27282F;
}
header ,footer{
    background-color: var(--color-fondo);
    text-decoration: none;
    padding-top: 1.5%;
    padding-bottom: 1.5%;
    text-align: center;

}
header nav a img{
    width: 1.5%;
    text-align: center;
}
img {
    width: 80px;
    float: left;
}
/*

header nav {
    text-align: center;
    text-decoration: none;
}
header nav a{
    padding: 1.5%;

}

*/
footer{
    background-color: var(--color-fondo);
}
