:root{
    --color-fondo: #27282F;
}

/* MAIN */
*{
    font-family: Quantico;
}

.contenedor-home{
    /* CONTIENE EL SLOGAN Y LA IMAGEN */
    display: flex;
    align-items: stretch;
    width: 100%;
    margin-top: 5rem;
}

.contenedor-slogan{
    /*CONTENEDOR SLOGAN DE LA PÁGINA DE HOME*/
    margin-top: 6rem;
    width: 50%;
    font-size: 3.5rem;
    text-align:left;
    margin-left: 3rem;
}

.contenedor-imagen{
    /*CONTENEDOR IMAGEN DE LA PÁGINA DE HOME*/
    width: 50%;
    height: 50%;

}
.contenedor-imagen img{
    /*CONTENEDOR IMAGEN */
    width: 70%;
    height: 70%;
}

.contenedor-marcas{
    margin: 4rem;
    font-size: 30px;
    text-align: center;
}

.marcas{
    padding: 10px;
    width: 65%;
    
}
@media (max-width: 600px) {
    .contenedor-imagen img {
      src: url("../img/home/imagen-bombilla300.png");
    }
  }