/* HEADER */
* {
	padding: 0;
	margin: 0;
	text-decoration: none;
	list-style: none;
	box-sizing: border-box;
}
header {
	width: 100%;
	height: auto;
	background-color: #27282F;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}
nav {
	height: 100px;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.logo {
	width: 50px;
	margin-left: 20px;
}
.bar-btn {
	font-size: 25px;
	color: white;
	margin-right: 20px;
	cursor: pointer;
}
.nav-menu {
	position: fixed;
	width: 100%;
	height: 0vh;
	top: 100px;
	background-color: #27282F;
	text-align: center;
	transition: all .5s;
	li {
		display: none;
		line-height: 30px;
		margin: 50px 0;
		transition: all .5s;
		a {
			color: white;
			font-size: 16px;
			text-transform: uppercase;
			font-weight: 600;
			&:hover {
				color: gold;
				transition: .3s;
			}
		}
		a.active {
			color: gold;
			transition: .3s;
		}
	}
}
#check {
	display: none;
	&:checked {
		~ {
			.nav-menu {
				position: absolute;
				height: 100vh;
				li {
					display: block;
				}
			}
		}
	}
}

/* MEDIAS PARA LAS DIFERENTES RESOLUCIONES */
@media (min-width: 300px) {
	nav {
		width: 100%;
	}
}

@media (max-width: 480px) {
	.bar-btn {
		font-size: 1rem;
		color: white;
		margin-right: 20px;
		cursor: pointer;
	}
	.nav-menu {
		li {
			a {
				color: white;
				font-size: 0.8rem;
				text-transform: uppercase;
				font-weight: 600;
			}
		}
	}
	.empezamos {
		padding: 5%;
		background: none;
		border: none;
		color: gold;
	}
}

@media (min-width: 481px) and (max-width: 779px) {
	nav {
		height: 100px;
		width: 100%;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	.bar-btn {
		font-size: 1.5rem;
		color: white;
		margin-right: 20px;
		cursor: pointer;
	}
	.nav-menu {
		li {
			a {
				color: white;
				font-size: 1.2rem;
				text-transform: uppercase;
				font-weight: 600;
			}
		}
	}
	.empezamos {
		font-size: 1.8rem;
		padding: 5%;
		background: none;
		border: none;
		color: gold;
	}
}

@media (min-width: 780px) {
	.logo {
		margin-left: 50px;
	}
	nav {
		height: 100px;
	}
	.bar-btn {
		display: none;
	}
	.nav-menu {
		position: relative;
		height: 100px;
		top: 0;
		background: none;
		transition: none;
		text-align: right;
		margin-right: 20px;
		li {
			display: inline-block;
			line-height: 100px;
			margin: 0.5rem;
			transition: none;
			a {
				font-size: 0.9rem;
			}
		}
	}
	.empezamos {
		padding: 10%;
		&:hover {
			color: black;
			background-color: gold;
			transition: all 0.5s;
		}
	}
}

@media (min-width: 1200px) {
	.logo {
		width: 75px;
		margin-left: 50px;
	}
	nav {
		height: 100px;
	}
	.bar-btn {
		display: none;
	}
	.nav-menu {
		position: relative;
		height: 100px;
		top: 0;
		background: none;
		transition: none;
		text-align: right;
		margin-right: 20px;
		li {
			display: inline-block;
			line-height: 100px;
			margin: 0 50px;
			transition: none;
			a {
				font-size: 1.2rem;
			}
		}
	}
	.empezamos {
		padding: 10%;
		&:hover {
			color: black;
			background-color: gold;
			transition: all 0.5s;
		}
	}
}

@media (min-width: 2000px) {
	.logo {
		width: 100px;
		margin-left: 50px;
	}
	nav {
		height: 150px;
	}
	.bar-btn {
		display: none;
	}
	.nav-menu {
		position: relative;
		height: 100px;
		top: 0;
		background: none;
		transition: none;
		text-align: right;
		margin-right: 20px;
		li {
			display: inline-block;
			line-height: 100px;
			margin: 0 50px;
			transition: none;
			a {
				font-size: 1.5rem;
			}
		}
	}
	.empezamos {
		padding: 15%;
		&:hover {
			color: black;
			background-color: gold;
			transition: all 0.5s;
		}
	}
}
